*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#header{
	background-color: #333;
}
#header a{
	text-decoration: none;
	color: #fff;
	transition: color .3s ease;
}
#header a:hover{	
	color: coral;
}
#header .menu{
	display: inline-block;
	padding: 20px;
	/*margin: 20px;*/
}
#header ul{
	display: inline-block;
	padding: 20px;
}
#header li{
	font-size: 20px;
	padding-left: 10px;
	font-family: sans-serif;
	list-style-type: none;
	display: inline-block;
}
#header .headerforma{
	float: right;
	padding: 20px;
}
.clr{
	clear: both;
}
.container .box{
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 30px;
}

.btn{
	padding: 3px 20px;
	text-decoration: none;
	text-align: center;
	color: #333;
	font-size: 18px;
	border: none;
	background-color: #ff9;
}
.btn:hover{
	background-color: #000;
	color:  #fff;
	cursor: pointer;
}
.container .box a{
	text-decoration: none;
	color: #333;
}
.container .box a:hover{
	color: #fff;
}
.container{
	width: 80%;
	margin: auto;
}
.container .forma{
	width: 50%;
	margin: auto;
}
.container .insertforma{
	 background-color: yellow;
	 margin-top: 100px;
}
.container .insertforma input{
	display: block;
	padding: 5px 0px;
	width: 98%;
	margin: auto;
	margin-bottom: 10px;

}
.container .insertforma label{
	font-size: 20px;

}
.container .insertforma .btn{
	font-size: 20px;
	margin: 10px;
	background-color: #333;
	color: #fff;
	padding: 5px;
}
.container .insertforma .btn:hover{
	background-color: #666;
	color: yellow;
}















